.menu {
    background-color: #D9E8FB;
   }
   
   .content {
    background-color: #FBF4F0;
   }
   
   .section {
    padding: 10px;
   }
   
   .container {
    display: flex;
   }
   
   a {
    display: inline-block;
    padding: 5px;
   }
   
   h3 {
    text-align: center;
   }