.menu {
    background-color: #D9E8FB;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80px;
   }
   
   .content {
    background-color: #FBF4F0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
   }
   
   .section {
    padding: 10px;
   }
   
   .container {
    display: flex;
   }
   
   a {
    display: inline-block;
    padding: 5px;
   }
   
   h3 {
    text-align: center;
   }