.header{
    text-align: center;
    color: #5A2D0C;
    background-color: #FFEBCD;
    padding: 20px;
    font-weight: bold;
  }
  
  .menu-list{
    background-color: #E6E6FA;
    padding: 20px;
  }
  
  .menu-item{
    display: block;
    font-size: 18px;
  }