.hide {
    display: none;
  }
  
  body {
    width: 525px;
    margin: auto;
    background-color: none;
    color: #36454F;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .wrapper {
    margin: 5px;
  }
  
  .heading {
    text-align: center;
  }
  
  button {
    width: 75px;
    margin: 5px;
    padding: 10px;
    background-color: #D9E8FB;
    color: #4D4D87;
    border: 0px;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  .topButtons {
    text-align: center;
  }
  
  img {
    border-radius: 10px;
  }
  
  #banner img {
    width: 525px;
  }
  
  .servicesContainer {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .servicesItem {
    margin-top: 20px;
    text-align: center;
  }
  
  h4 {
    margin: 10px;
  }
  
  .purchasedBanner {
    text-align: center;
  }
  
  .estimatesBanner button {
    width: 125px;
  }
  
  h3 {
    margin-bottom: 5px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 5px 5px;
    font-size: 18px;
  }