img {
  border-radius: 75px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: bounce 2s infinite;
  margin-top: 20px;
}

h2 {
  font-size: 24px;
}

body {
  background: linear-gradient(to right, slateblue, lightblue);
  color: white;
  font-family: 'Trebuchet MS';
  text-align: center;
}

button {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: slateblue;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  
}

button:hover {
  color: white;
  background-color: slateblue;
  transform: scale(1.05);
  text-decoration: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100%{
  transform: translateY(0);

  }
  40% {
   transform: translateY(-10px);
 
  }
  60% {
   transform: translateY(-5px);
  }
  
}

.buttonlinks {
text-decoration: none;}

nav{
  background-color: rgba(2, 5, 26, 0.349);
  padding: 10px;
  border-radius: 10px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}

.project-item{
  display: flex;
  justify-content: flex-start
}

.projects{
  display: flex;
  justify-content: flex-start;
  border-color: aqua;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 10px;
}