.container {
    background-color: #DE9C51;
    color: #FFFFFF;
  }
  
  img {
    width: 90%;
    border: 10px solid #FFFFFF;
    border-radius: 2px;
  }
  
  h1 {
    font-family: Luminari;
    text-align: center;
  }
  
  p {
    text-align: center;
    font-weight: bold;
  }
  
  body {
    font-family: Verdana;
    background-color: #FBF4F0;
  }