body {
    margin: auto;
    background-color: #FFF9F5;
    color: #36454F;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    min-width: 600px; 
  }
  
  .heading {
    text-align: center;
  }
  
  .navContainer {}
  
  #navPhoto {
    text-align: right;
  }
  
  a {}
  
  .headlineContainer {
    height: 400px;
  }
  
  .headlineImage {
    width: 100px;
    height: 100px;
    border-radius: 5%;
  }
  
  .headlineItem h3 {
    margin: 15px 5px 5px 5px;
  }
  
  .column {}
  
  .colItem {
    width: 95%;
    margin: 8px;
    border: 2px solid #F0EEEE;
    border-radius: 2px;
  }
  
  .navItem {
    width: 220px;
  }
  
  #navPhoto img {
    width: 50px;
    border-radius: 50%;
  }
  
  .headlineItem {
    height: 100px;
    width: 45%;
    margin: 10px;
    border: 2px solid #C0C0C0;
    border-radius: 4px;
    background-color: #C2C2C2;
  }
  
  .headlineItem:hover,
  .colItem:hover {
    cursor: pointer;
  }
  
  .colItem h4 {
    margin: 5px;
  }
  
  .colItem p {
    margin: 3px;
  }