body {
    font-family: sans-serif;
  }
  
  #welcome {
    margin-top: 20px;
    padding: 0px 20px;
  }
  
  img {
    margin-left: 20px;
    float: right;
    max-width: 40%;
    min-width: 20%;
  }