.item {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
  }
  
  .header {
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #FFCE00;
    font-size: 30px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
  }
  
  a {
    padding: 0px 5px;
    text-decoration: underline;
    margin: 5px 5px;
    color: white;
  }
  
  .grid-image {
    width: 100%;
  }
  
  body {
    font-family: Tahoma;
  }